.arduino-comment{
  color:gray;
}

.arduino-text{
  color:black;
}
.arduino-hilighted-background{
  background-color:#ffd700;
}
.arduino-syntax-highlighting1 {
  color:#e57500;
}

.arduino-syntax-highlighting2 {
  color:#2e7aa9;
}

.arduino-error-highlighting{
  color:#ffd700;
}
.arduino-errorbar{
  color:#fe5300;
}

.arduino-tab-indent {
  padding-left: 18px;
}

.archive-link {
  text-decoration: underline;
}

.event-date {
  margin: 0 auto;
  display: block;
}

.live {
	font-size:30px;
	color: white;
  	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	text-align:center;
}

.live div {
	margin-bottom: 25px;
}

@media (max-width: 980px) {
	.live{
		margin-left:85px;
		margin-top:30px;
		float:left;
		clear:both;
	}
}

@media (max-width: 767px) {
	.live{
		margin:30px auto;
		float:none;
	}
}

